* {
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    /* text transform uppercase=deixa todas letras maiusculas */
    color: crimson;
}

h4,
h5,
h6 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: gold;
}

h1 {
    font-size: 600%;
    font-weight: 200;

}

h2 {
    font-size: 400%;
    font-weight: 200;
}

/* after permite que qualquer conteudo seja adicionado depois da tag onde ele for aplicado */
h2::after{
    display: block;
    background-color: rgb(17, 182, 17);
    height: 5px;
    width: 100px;
    margin: 40px auto 30px;
    content: "";
}



p,li,a {
    font-family: 'Open Sans', sans-serif;
    color: rgb(243, 60, 60);
    
}

/* ELEMENTOS DO HEADER */

header div#chamada h1 {
    color: #fff;
    text-shadow: 4px 6px 10px rgb(0, 0, 0);
    /* TEXT SHADOWN=(deslocamento X) (deslocamento Y) (raio de desfoque) (cor) */
    margin-bottom: 55px;
}

header div#chamada h4 {
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;
}

header div#chamada a {
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgba(7, 140, 49, 55) 0%, rgba(6, 89, 2, 35) 100%);
    padding: 20px 80px;
    border-radius: 50px;
    display: inline-block;
}

/* SEÇÃO DOMINGO PERFEITO */
div.pontos-chaves h4{
    color: black;
}

div.pontos-chaves h4:after{
    display: block;
    background-color: forestgreen;
    height: 5px;
    width: 30%;
    margin:  20px auto 10px;
    content: "";
}

p, li, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.destaque{
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

/* Elementos do Header */

header div#chamada h1{
    color: #fff;
    text-shadow: 4px 6px 10px- #000;
}


/* ---------------------------- */
/*   SEÇAO - FINAL DE SEMANA   */
/* ---------------------------- */

div.pontos-chaves h4 {
    color:#404040;
}

div.pontos-chaves h4:after {
    display:block;
    background-color: #078C31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}



/* ---------------------------- */
/*         SEÇAO - PIZZA        */
/* ---------------------------- */


section#pizza p.destaque {
    color:#FFF;
    width: 40%;
}

section#pizza ul li {
    color:white;
    list-style: none;
    line-height: 1.9;
    font-size: 90%;
    text-transform: uppercase;
}

/* ---------------------------- */
/*      SEÇAO - DEPOIMENTOS     */
/* ---------------------------- */

section#testemunha p.destaque {
    width: 40%;
    background-color: rgba(255,255,255,0.7);
}

/* SECAO PLANOS */
section#plano-principal h4{
    color: red;
}

section#plano-principal ul{
    margin-top: 25%;
}

section#plano-principal- ul li{
    font-size: 85%;
    text-align: left;
    margin-left: 30px;
    line-height: 2;
    text-decoration: none;
}